<h1>Notes</h1>


<ul>

<% if(@notes.size > 0) %>
<% @notes.each_with_index  do |note,i| %>
<li>
<a href='/notes/<%= i %>' >
   <%= note %>
   </a>
</li>
<% end %>
<% else %>
    <p> No items </p>
<% end %>

</ul>